@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>
    Commodi aut voluptatum autem eum iure officiis distinctio. Nostrum ut illum totam quisquam. Autem repellat nostrum autem ea dolore ipsum voluptatum. Ut vero eius quibusdam voluptatem quae delectus sit.

    Quas deserunt optio tenetur maiores nesciunt. Modi et repellat quae est et occaecati. Non libero accusantium nam saepe consequatur esse ratione. Quis ut quae suscipit. Tempora et eligendi et soluta saepe.

    Et illum ipsa reprehenderit sed. Et non nostrum et explicabo numquam molestiae. Facere quia dicta consequuntur repudiandae rem ipsum et et. Velit officiis nobis quia distinctio consequuntur facere.

    Vero praesentium delectus tempore rem et. Et dolore nobis laborum enim at eius et tenetur. Repudiandae debitis sit et. Molestiae et voluptatum odit tempora accusamus. Repellendus quia velit omnis harum nam incidunt ut. Earum et illo consequatur tempora perspiciatis vitae est.

    Explicabo et molestiae numquam. Consequatur tempore et molestiae dolorem eveniet. Enim rem quisquam natus repellat possimus. Laudantium dolore aut ut ex expedita. Modi dolores et est consequatur est incidunt ut.
</p>
