*.suo
*.user
_ReSharper.*
bin
obj
packages
\.vs
*.cache
*.editorconfig
Service/obj/Debug/net6.0/Service.GeneratedMSBuildEditorConfig.editorconfig
Service/obj/Debug/net6.0/Service.GeneratedMSBuildEditorConfig.editorconfig
Service/obj/Debug/net6.0/Service.GeneratedMSBuildEditorConfig.editorconfig
Service/obj/Service.csproj.nuget.dgspec.json
