<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JwtToken" value="" />
    <add key="Username" value="WeDoLaundryDesktopClient" />
    <add key="Password" value="44ed5382-426a-4fdc-9d9b-6e0072ca22da" />
    <add key="GrantType" value="UserApp" />
  </appSettings>
</configuration>