@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="section" id="banner">
        <div>
            <form action="./Bookings/Create">
                <button class="float-left submit-button button_style_1">Book now!</button>
            </form>
            <div>
                <img src="images/Index_picture.png" alt="Indeed, we do Laundry" class="Index_picture">
            </div>
        </div>
    </section>
    <section class="section" id="about-us">
        <div>
            <h2>About Us</h2>
            <div id="about_section1">
                <p>Our Philosophy has always been simple - to work hard and maintain our ethical policy whilst ensuring that all of our customers and employees are treated honourably and fairly. Unlike other businesses hiding behind a corporate fiction, we believe in dealing with human beings - like human beings, in an open and honest way.</p>
                <p> With our SERVICES this means representing what you will receive as accurately as possible using images, accurate descriptions and dimensions. Also increasingly, with hard to visualise items such as recycling bins, we try to include videos showing the products in use.</p>
            </div>
        </div>
    </section>
    <section class="section" id="services">
        <div>
            <h2>Services</h2>
        </div>
    </section>
    <section class="section" id="contact">
        <div id="contact-content">
            <h2>Contact</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>

        <div class="form-container contactForm">
          <form action="#">

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name...">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name...">

            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something..." style="height:40%"></textarea>

            <input type="submit" value="Submit">

          </form>
        </div>
    </section>
</div>
