@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="section" id="Banner">
        <div>
            <h2>Banner</h2>
        </div>
    </section>
    <section class="section" id="AboutUs">
        <div>
            <h2>About Us</h2>
        </div>
    </section>
    <section class="section" id="Services">
        <div>
            <h2>Services</h2>
        </div>
    </section>
    <section class="section" id="Contact">
        <div>
            <h2>Contacts</h2>
        </div>
    </section>
</div>
