@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="section" id="banner">
        <div>
            <h2>Banner</h2>
            <form action="./Bookings/Create">
                <button class="float-left submit-button" >Book now!</button>
            </form>
        </div>
    </section>
    <section class="section" id="about-us">
        <div>
            <h2>About Us</h2>
        </div>
    </section>
    <section class="section" id="services">
        <div>
            <h2>Services</h2>
        </div>
    </section>
    <section class="section" id="contact">
        <div id="contact-content">
            <h2>Contact</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>

        <div class="form-container">
          <form action="#">

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name...">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name...">

            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something..." style="height:40%"></textarea>

            <input type="submit" value="Submit">

          </form>
        </div>
    </section>
</div>
