@model WebAppIdentity.Models.BookingForm

@{
    ViewData["Title"] = "Create";
}

<h1>Collection & Delivery</h1>
<hr />
    <div class="row">
    <div class="col-md-4">
        <p>Collection time</p>
        <form asp-action="Create">
        <div class="column">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                <label asp-for="PickUpDay"></label>
                <select asp-for="PickUpDay" class="form-control" asp-items="@(new SelectList(ViewBag.ListofDays, "Value", "Text"))"></select>
            </div>
            <div class="form-group">
                <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                <label asp-for="PickUpTimeSlot"></label>
                <select asp-for="PickUpTimeSlot" class="form-control" asp-items="@(new SelectList(ViewBag.ListofSlots, "Value", "Text"))"></select>
            </div>
            <div class="form-group">
                <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                <label asp-for="ReturnDay"></label>
                <select asp-for="ReturnDay" class="form-control" asp-items="@(new SelectList(ViewBag.ListofDays, "Value", "Text"))"></select>
            </div>
            <div class="form-group">
                <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                <label asp-for="ReturnTimeSlot"></label>
                <select asp-for="ReturnTimeSlot" class="form-control" asp-items="@(new SelectList(ViewBag.ListofSlots, "Value", "Text"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="PickUpAddress" class="control-label"></label>
                <input asp-for="PickUpAddress" class="form-control" />
                <span asp-validation-for="PickUpAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnAddress" class="control-label"></label>
                <input asp-for="ReturnAddress" class="form-control" />
                <span asp-validation-for="ReturnAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfBags" class="control-label"></label>
                <input asp-for="AmountOfBags" class="form-control" />
                <span asp-validation-for="AmountOfBags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
