@using WebAppIdentity.Models
@model BookingForm

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="site.css">
</head>

<h1>Place an order</h1>
<h3>@ViewBag.message</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="date-time">
                <h2>Collection</h2>
                <div class="form-group">
                    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                    <label asp-for="PickUpDay"></label>
                    <select asp-for="PickUpDay" class="form-control days" id="pickupDay" onchange="checkSlots()" asp-items="@(new SelectList(ViewBag.List, "Value", "Text"))"></select>
                </div>
                <a id="validationTextPU"></a>
                <br />
                <div class="form-group">
                    <label asp-for="PickUpAddress" class="control-label"></label>
                    <input asp-for="PickUpAddress" class="form-control" />
                    <span asp-validation-for="PickUpAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="date-time">
                <h2>Delivery</h2>
                <div class="form-group">
                    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                    <label asp-for="ReturnDay"></label>
                    <select asp-for="ReturnDay" class="form-control days" id="returnDay" onchange="checkSlots()" asp-items="@(new SelectList(ViewBag.List, "Value", "Text"))"></select>
                </div>
                <a id="validationTextR"></a>
                <br />
                <div class="form-group">
                    <label asp-for="ReturnAddress" class="control-label"></label>
                    <input asp-for="ReturnAddress" class="form-control" />
                    <span asp-validation-for="ReturnAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AmountOfBags" class="control-label"></label>
                    <input asp-for="AmountOfBags" class="form-control" />
                    <span asp-validation-for="AmountOfBags" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="btnSubmit" type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="fillPage"></div>

<div>
    <a asp-controller="Home" asp-action="">Cancel booking</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
