@model WebAppIdentity.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverId" class="control-label"></label>
                <input asp-for="DriverId" class="form-control" />
                <span asp-validation-for="DriverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickUpTime" class="control-label"></label>
                <input asp-for="PickUpTime" class="form-control" />
                <span asp-validation-for="PickUpTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnTime" class="control-label"></label>
                <input asp-for="ReturnTime" class="form-control" />
                <span asp-validation-for="ReturnTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickUpAddress" class="control-label"></label>
                <input asp-for="PickUpAddress" class="form-control" />
                <span asp-validation-for="PickUpAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnAddress" class="control-label"></label>
                <input asp-for="ReturnAddress" class="form-control" />
                <span asp-validation-for="ReturnAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingStatus" class="control-label"></label>
                <input asp-for="BookingStatus" class="form-control" />
                <span asp-validation-for="BookingStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfBags" class="control-label"></label>
                <input asp-for="AmountOfBags" class="form-control" />
                <span asp-validation-for="AmountOfBags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceId" class="control-label"></label>
                <input asp-for="InvoiceId" class="form-control" />
                <span asp-validation-for="InvoiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
