@page
@model OrdersModel
@{
    ViewData["Title"] = "Order Hisotry";
    ViewData["ActivePage"] = ManageNavPages.Orders;
}
@*
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
       
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@