@page
@model WebAppIdentity.Areas.Identity.Pages.Account.Manage.Index1Model
@{
    var choosenSubscription = 0;
}

<h1>Subscriptions</h1>

<form asp-action="Choose">
    <div class="subscriptions">
        <div class="sub-option">
            <h3>No subscription</h3>
            <p>You can still place an order, but an average price per wash is higher than with subscription</p>
            <button>Choose</button>
        </div>
        <div class="sub-option">
            <h3>Basic subscription</h3>
            <p>An average price per wash is lower than using our services without subscription but higher than with premium subscription</p>
            <button>Choose</button>
        </div>
        <div class="sub-option">
            <h3>Premium subscription</h3>
            <p>You get what you pay for, more bags per order, collection and delivery priority, and much more...</p>
            <button>Choose</button>
        </div>
    </div>
</form>
<div class="form-group">
    <input type="submit" value="Choose" class="btn btn-primary" />
</div>