@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/loginpage.css">
</head>

<body>
<h1>@ViewData["Title"]</h1>
    <div class="login-form-container">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-wrapper">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="your@email.com" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="input-wrapper">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div id="loginbutton-container">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <input type="submit" value="Login">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</html>