html {
    font-size: 14px;
    color: #12130f;
    position: relative;
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Define color palette variables here*/
/* Usage --> body { background-color: var(--white); }*/
:root {
    --white: #ffffff;
    --background: #E8F7EC;
    --background2: #c9d8cd;
    --highlight-1: #8fcb9b;
    --highlight-2: #5b9279;
    --dark: #12130f;
    --navigation: background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
    --button-main: #04aa6d;
    --button-main-hover: #04aa6d; /* change */
    --button-main-disabled: #04aa6d; /* change */
}

body {
    margin-bottom: 60px;
    padding-top: 57px;
    max-width: 100%;
    overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.navbar-brand{
    padding-left: 13px;
}

.nav-pills .nav-link.active {
    width: 200px;
    background: #04aa6d !important;
}

.success-container {
  padding: 40px;
}

.date-time {
  padding: 40px;
}

.subscriptions {
  display: flex;
}

.sub-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-option p {
  text-align: center;
}

#validationTextPU {
    display: none;
    padding: 6px;
    width: 360px;
    border-radius: 3px 3px 3px 3px;
    font-family: "HelveticaNeue-Light";
    font-weight: 300;
    color: #D8000C;
    background-color: #FFBABA;
}

#about_section1 {
    max-height: 430px;
    min-height: 380px;
    min-width: 450px;
    max-width: 700px;
    margin: 50px;
    margin-top: 30px !important;
    background-color: #E8F7EC;
    border-radius: 1rem;
    padding: 50px;
    padding-top: 30px;
    font-size: 17px;
}

.input_create_customer {
    height: 35px !important;
    margin-bottom: 7px !important;
    margin-top: 5px !important;
    background-color: ghostwhite !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid !important;
    border-radius: 2px !important;
    border-color: dimgrey !important;
}

.create-customer {
    padding: 25px !important;
    padding-top: 30px !important;
    margin-top: 20px;
}

.submit_placement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#validationTextR {
    display: none;
    padding: 6px;
    width: 360px;
    border-radius: 3px 3px 3px 3px;
    font-family: "HelveticaNeue-Light";
    font-weight: 300;
    color: #D8000C;
    background-color: #FFBABA;
}

/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 ;
  display: inline-block;
  border: none;
  background-color: lightgray;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  background-color: white;
  outline: solid;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 5px;
}

h1 {
    padding-top: 15px;
    text-align: center;
}

/* Set a style for all buttons */
button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: auto;
  width: 100%;
  opacity: 1;
}

#registerSubmit{
    margin-top: 40px;
}

#registerForm {
    margin: 25px;
    margin-top: 2em;
    margin-bottom: 28px;
}

.btn-primary {
    border-color: black;
    background-color: black !important;
}
/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: red;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn,
.cancelbtn {
    float: left;
    width: 30%;
}

/* Add padding to container elements */
.container {
  padding: 6px;
}

/*.fillPage {
    height:max-content;
}*/

.content1 {
  padding-top: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  scroll-margin-top: 66px;
  height: 600px;
  padding: 40px;
}

.Index_picture {
    width: 700px;
    height: auto;
    margin-top: 32px
}

.button_style_1 {
    width: 150px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #04aa6d !important;
}

.button_style_2 {
    background-color: var(--button-main);
    border-radius: 8px;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    /*#E8F0FE*/
    /*height: 50px;*/
    padding-top: 30px;
    border: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-radius: 2px;
    border-color: dimgrey;
    /*padding: 0px !important;*/
    background-color: ghostwhite !important;
}

.contactForm {
    background-color: var(--background2) !important;
}

/*#account{
    height
}*/
#inputBooking {
    height: 37px;
    background-color: ghostwhite;
}

#banner {
    background-color: #E8F7EC;
}

#about-us {
  background-color: #8fcb9b;
}

#services {
    background-color: #5b9279;
    color: #E8F7EC;
}

#fname {
    background-color: ghostwhite;
}

#lname {
    background-color: ghostwhite;
}

#subject {
    background-color: ghostwhite;
}

#contact {
    background-color: #12130f;
    color: #eae6e5; /* #E8F7EC */
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#footer {
    border-top: solid 1px;
    /*background: #E8F7EC;*/
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
    background-color: #04aa6d !important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:disabled {
    background-color: #9d9d9d;
}

    input[type="submit"]:hover {
        background-color: #8fcb9b;
    }

.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 80%;
}

label {
  color: #12130f;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

a{
    color:black;
}
