html {
    font-size: 14px;
    color: #12130F;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 66px;
}

* {
    box-sizing: border-box
}

.nav-pills .nav-link.active {
    width: 200px;
    background: #8FCB9B;
}

.success-container {
    padding: 40px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: lightgray;
}

    input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
        background-color: white;
        outline: solid;
    }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 5px;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: auto;
    width: 100%;
    opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: red;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn, .cancelbtn {
    float: left;
    width: 30%;
}

/* Add padding to container elements */
.container {
    padding: 6px;
}

.fillPage {
    height:510px;
}

.content1 {
    padding-top:60px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    scroll-margin-top: 66px;
    height: 60vh;
    padding: 40px;
}

#inputBooking {
    height: 37px;
    background-color: ghostwhite;
}

#banner {
    background-color: #EAE6E5;
}

#about-us {
    background-color: #8FCB9B;
}

#services {
    background-color: #5B9279;
    color: #EAE6E5;
}

#contact {
    background-color: #12130F;
    color: #EAE6E5;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #8FCB9B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #5B9279;
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    height: 80%;
}

label {
    color: #12130F;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}